.sec-banner-text{
  h2{
    padding: 12px 16px;
    width: fit-content;
    font-family: "Gensen Rounded, sans-serif";
  }
  p{
    padding: 12px 16px;
    width: fit-content;
    font-family: "Gensen Rounded, sans-serif";
  }
}

.sec-features{
  background: linear-gradient(#F1EAD4,white);
  .card{
    background-color: transparent;
  }
}

.sec-recommended{
  .card{
    border-radius: 16px 16px 0 0;
  }
  .card-title{
    margin-bottom: 0;
  }
  .card-img-top{
    border-radius: 16px 16px 0 0;
    height: 280px;
    object-fit: cover;
  }
}

.bg-sec-gradient{
  background: linear-gradient(#F1EAD4,white);
}

.qa-card{
  border-radius: 8px;
  background-color: white;
}