@font-face {
    font-family: "Gensen Rounded";
    src: url("/fonts/GenSenRounded2TC-H.otf") format("opentype"),
         url("/fonts/GenSenRounded2-H.ttc") format("truetype");
    font-weight: bold;
    font-style: normal;
  }